body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Raleway", sans-serif; */
}

:root {
  --accent-color: #ff6c00;
  --main-color: #303030;
  --light-color: #fff;
}

.list {
  list-style-type: none;
  padding: 0;
}

.no-decor {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  text-align: center;
  /* background-color: darkgray; */
}
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}
img {
  display: block;
}
/* Хедер */
.section-adress {
  padding-top: 28px;
  padding-bottom: 58px;
  padding-left: 140px;
  background-color: var(--light-color);
}
.social-list {
  display: flex;
  padding: 0;
  margin-top: 0;
}
.social-item {
  margin-right: 40px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-list-item {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--main-color);
  font-style: normal;
}
.social-list-item:hover {
  color: var(--accent-color);
}
.social-list-item:focus {
  color: var(--accent-color);
}
.navigation {
  padding-top: 52px;
  padding-right: 17px;
  background-color: grey;
}
.section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-and-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-right: 254px;
}
a {
  display: inline-block;
}
.logo-link {
  background-color: var(--light-color);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.nav-item {
  margin-right: 10px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  display: inline-block;
  padding-top: 10 px;
  padding-right: 10 px;
  padding-bottom: 10 px;
  padding-left: 10 px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-color);
}

.nav-link:hover {
  color: var(--accent-color);
}
.nav-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
}
.contact-item {
  margin-right: 33px;
  align-items: center;
}
.contact-item:last-child {
  margin-right: 0;
}
.contact .item {
  display: block;
  padding-top: 10 px;
  padding-right: 10 px;
  padding-bottom: 10 px;
  padding-left: 10 px;

  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-color);
}

.contact .item:hover {
  color: var(--accent-color);
}
.contact .item:focus {
  color: var(--accent-color);
}
.booking-btn {
  box-sizing: border-box;
  min-width: 160px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--light-color);
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}
.booking-btn:hover {
  color: var(--accent-color);
}
.booking-btn:focus {
  color: var(--accent-color);
}
