/* Утилиты */
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Raleway", sans-serif; */
}

:root {
  --accent-color: #ff6c00;
  --main-color: #303030;
  --light-color: #fff;
}

.list {
  list-style-type: none;
  padding: 0;
}

.no-decor {
  text-decoration: none;
}


h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}
img {
  display: block;
}
a {
  display: inline-block;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  text-align: center;
}
/* Хедер */
.section-adress {
  padding-top: 18px;
  padding-bottom: 48px;
  padding-left: 130px;
  background-color: var(--light-color);
}
.social-list {
  display: flex;
  padding: 0;
  margin-top: 0;
}
.social-item {
  margin-right: 20px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-list-item {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--main-color);
  font-style: normal;
}
.social-list-item:hover {
  color: var(--accent-color);
}
.social-list-item:focus {
  color: var(--accent-color);
}
.navigation {
  padding-top: 32px;
  padding-right: 17px;
  background-color: grey;
}
.section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-and-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-right: 254px;
}
.logo-link {
  background-color: var(--light-color);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.nav-item {
  margin-right: 10px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-color);
}

.nav-link:hover {
  color: var(--accent-color);
}
.nav-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
}
.contact-item {
  margin-right: 33px;
  align-items: center;
}
.contact-item:last-child {
  margin-right: 0;
}
.contact .item {
  
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-color);
}

.contact .item:hover {
  color: var(--accent-color);
}
.contact .item:focus {
  color: var(--accent-color);
}
.booking-btn {
  box-sizing: border-box;
  min-width: 160px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--light-color);
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}
.booking-btn:hover {
  color: var(--accent-color);
}
.booking-btn:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background: rgba(25, 28, 38, 0.2);
}
.hero-main {
    padding: 184px 526px 208px 100px;

  background-image: url(../images/bcg-img.jpg);
  background-size: cover;
}
.hero-text {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
font-size: 11px;
line-height: calc(15/11);

text-transform: uppercase;

color: rgba(157, 164, 189, 0.6);

}
.hero-title{
  margin-bottom: 20px;
    text-align: left;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85/72);
  
  letter-spacing: 0.05em;
  
  color: var(--light-color);
  
  
}
.hero-subtitle {
    text-align: left;

  font-size: 18px;
line-height: 1.67;

letter-spacing: 0.02em;

color: #9DA4BD;

}